<section class="section footer">
    <div class="inner">
        <div class="footerCol col1">
            <h2>Travel beyond your imagination, with Opal collection!</h2>
        </div>
        <div class="footerCol col2">
            <h4>Networks</h4>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footerCol col3">
            <a href="{{ path('app_contact') }}" class="btn">Contact Us</a>
        </div>
    </div>
</section>